@import 'tailwindcss';

:root {
	box-sizing: border-box;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-black: #000000;
	--color-white: #ffffff;
	--color-gray-50: #f7f7f7;
	--color-gray-100: #ebebeb;
	--color-gray-200: #dedede;
	--color-gray-300: #c4c4c4;
	--color-gray-400: #aaaaaa;
	--color-gray-500: #909190;
	--color-gray-600: #767676;
	--color-gray-700: #5c5c5c;
	--color-gray-800: #414141;
	--color-gray-900: #272727;
	--color-gray-950: #0d0d0d;
	--color-brand-50: #e8faf1;
	--color-brand-100: #d2f8e5;
	--color-brand-200: #bbf7d9;
	--color-brand-300: #8deebe;
	--color-brand-400: #64dea4;
	--color-brand-500: #43c88a;
	--color-brand-600: #2bac72;
	--color-brand-700: #1a8a5b;
	--color-brand-800: #0f6543;
	--color-brand-900: #07412c;
	--color-brand-950: #032117;
	--color-success-50: #e8faeb;
	--color-success-100: #c9eecf;
	--color-success-200: #abe2b4;
	--color-success-300: #77ca86;
	--color-success-400: #50b262;
	--color-success-500: #349a48;
	--color-success-600: #208136;
	--color-success-700: #146929;
	--color-success-800: #0c511f;
	--color-success-900: #073916;
	--color-success-950: #03210d;
	--color-warning-50: #fdf9eb;
	--color-warning-100: #fbf3d8;
	--color-warning-200: #f6e7b1;
	--color-warning-300: #f2dc89;
	--color-warning-400: #edd062;
	--color-warning-500: #e9c43b;
	--color-warning-600: #ba9d2f;
	--color-warning-700: #8c7623;
	--color-warning-800: #5d4e18;
	--color-warning-900: #2f270c;
	--color-warning-950: #171406;
	--color-danger-50: #fbebe9;
	--color-danger-100: #f6d7d2;
	--color-danger-200: #edaea6;
	--color-danger-300: #e58679;
	--color-danger-400: #dc5d4d;
	--color-danger-500: #d33520;
	--color-danger-600: #a92a1a;
	--color-danger-700: #7f2013;
	--color-danger-800: #54150d;
	--color-danger-900: #2a0b06;
	--color-danger-950: #150503;
}
