# ------------------------------------------------------------------------ #
# This file contains all .env variables needed for the project to function #
#     Copy over these into a .env file before running in 'development'     #
#        or set them in your production environment before deploying       #
# ------------------------------------------------------------------------ #

# Database configuration
DATABASE_URL="postgresql://prospering:paonapowgnzjog!fa4p@localhost:7700/prosperity" # * Credentials from docker compose for use in development

# Better-auth configuration
BETTER_AUTH_SECRET="vopianbewoigjhizp48309qtha"
BETTER_AUTH_URL="http://localhost:7701" # Base URL of the api
