# ------------------------------------------------------------------------ #
# This file contains all .env variables needed for the project to function #
#     Copy over these into a .env file before running in 'development'     #
#        or set them in your production environment before deploying       #
# ------------------------------------------------------------------------ #

# Database configuration
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USERNAME="prosperity_user"
DATABASE_PASSWORD="Password123!"
DATABASE_NAME="prosperity"

# Better-auth configuration
BETTER_AUTH_SECRET="vopianbewoigjhizp48309qtha"
BETTER_AUTH_URL="http://localhost:7701" # Base URL of the api