# ------------------------------------------------------------------------ #
# This file contains all .env variables needed for the project to function #
#     Copy over these into a .env file before running in 'development'     #
#        or set them in your production environment before deploying       #
# ------------------------------------------------------------------------ #

WEB_URL="http://localhost:7702"

# Database configuration
DATABASE_URL="postgresql://prospering:paonapowgnzjog!fa4p@localhost:7700/prosperity" # * Credentials from docker compose for use in development

# Better-auth configuration
BETTER_AUTH_URL="http://localhost:7701" # Base URL of the api
BETTER_AUTH_SECRET="" # Randomly generated secret key

BETTER_AUTH_GOOGLE_CLIENT_ID=""
BETTER_AUTH_GOOGLE_CLIENT_SECRET=""

# Teller configuration
TELLER_CERTIFICATE="" # Base64 encoded certificate for mTLS | `openssl base64 -in certificate.pem | pbcopy`
TELLER_PRIVATE_KEY="" # Base64 encoded private key for mTLS | `openssl base64 -in private_key.pem | pbcopy`
TELLER_APPLICATION_ID="" # Application ID for teller account/app

ACCOUNT_ACCESS_TOKEN_KEY="" # Radnomly generated string of characters | `openssl rand -hex 16`

# MailTrap configuration
MAILTRAP_TOKEN=""
MAILTRAP_SENDER_EMAIL="hello@taylorkelley.dev"
